/* General */
h1 {
  margin-bottom: 20px;
}
h2 {
  margin-top: 40px;
}
h3 {
  margin-top: 25px;
}
footer p{
  visibility: hidden;
}
footer hr{
  width: 90%;
    opacity: 0.3;
}
li{
  margin-top: 3px;
}
.inline-header{
  font-size: 16pt;
}
code.py{
  color: #B1F29C;
  background-color: #637273	;
  border-radius: 5px;
}
.error-code{
  color: #F99A9A;
}
.output-code{
  color: #9AC9F9;
}
.half{
  width: 47%!important;
}
.third{
  width: 31%!important;
}
.quarter{
  width: 23%!important;
}

.navbar-light{
  background-image: none;
  background-color: white !important;
  border-bottom: solid 0.8px #7C7C7C;
}

.navbar-light .container .navbar-brand{
  font-size: 13pt !important;
}

.active a{
  color: #48A887 !important;
}

.dropdown a:hover{
  background-color: transparent;
  color: #48A887 !important;
}

.dropdown .active{
  background-color: transparent;
}

#toc-collapse {
  padding-top: 10px;
  padding-bottom: 10px;
}

#toc-collapse .nav-link{
  color: #808080 !important;
}
#toc-collapse .nav-link.active{
  color: #48A887 !important;
  border-right: solid 5px;
}

#toc-collapse .nav-link:hover{
  border-right: none;
  color: #48A887 !important;
}

#toc-collapse .nav-item[data-level="1"]{
  font-size: 15pt;
}

#toc-collapse .nav-item[data-level="2"]{
  font-size: 12pt;
  padding-left: 15px;
  padding-top: 5px;
}
.a-box{
  margin-bottom: 10px;
  background-color: #DEDEDE;
  padding: 15px;
  border-radius: 5px;
}
.notes-box{
  background-color: #E4EEF6;
}

/*--------*/
/*Lesson 1*/
.mac-box{
  background-color: #7C7C7C;
  color: white !important;
}
.mac-box a{
  color: white;
  text-decoration: underline;
}
.mac-box h5{
  color: white !important;
}
.linux-box{
  background-color: #D1C5CF;
}
.linux-box a{
  color: #4A5057;
  text-decoration: underline;
}

/*--------*/
/*Lesson 2*/
.py-hint-box{
  width: 100%;
  display: table;
  margin-bottom: 5px;
  padding: 10px;
  word-wrap: break-word;
  border-top: 1px dashed lightgray;
}
.py-hint-box.intext{
  margin-bottom: 1px;
  border-top: none;
}
.py-hint-box.large{
  display: block;
}
.py-hint-box .info-sec{
  width: 42%;
  display: table-cell;
  padding: 3px;
  vertical-align: middle;
}
.py-hint-box .info-sec.large{
  width: 62%;
}
.py-hint-box .code-sec{
  border-left: solid 1px lightgray;
  width: auto;
  display: table-cell;
  font-family: Consolas,"courier new";
  padding: 2px;
  vertical-align: middle;
  background-color: #637273	;
  color: #B1F29C;
  border-radius: 5px;
  padding-left: 8px;
}
.py-hint-box .code-sec.solution{
  color: #637273;
}
.py-hint-box .code-sec.large{
  max-width: 100%;
  display: block!important;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.py-hint-box .code-sec .comment{
  color: lightgray;
}

.py-hint-box .code-sec span{
  background-color: rgba(228,230,230,0);
  padding: 3px;
}
.py-hint-box .code-sec hr{
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.3;
}
